{% extends "base.j2" %}
{% block content %}
  <div class="col-xs-12">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon">
          <i class="fa fa-th"></i>
        </span>
        <h5>Groups</h5>
      </div>
      <div class="widget-content nopadding">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Domain</th>
            </tr>
          </thead>
          <tbody>
          {% for value in groupList %}
            <tr data-value="{{ value[0] }}" data-domain-id="{{ value[3]}}" data-domain-name="{{ value[2]}}" data-id="{{ value[1] }}">
              <td><a href='/group_vars/{{ value[0]}}/list?domain={{ value[2] }}'>{{ value[0] }}</a></td>
              <td>{{ value[2].title() }}</td>
            </tr>
          {% endfor %}    
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal_content %}
{% endblock %}

{% block pageScripts %}
  <!-- scripts local to this page -->
  <script type="text/javascript" src="js/pages/group_vars.js"></script>
{% endblock %}